* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('http://www.pvhc.net/img207/bydtkmqbpsmeqcgkgidx.png');
  background-position: 7px 9px;
  background-size: 25px;
  background-repeat: no-repeat;
  width: 65%;
  position: relative;
  left: -7px;
  top: 0px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  box-shadow: 2px 2px 1px #eeeeee;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    width: 80%;
    margin-left: 10%;
}


#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  width: 70%;
  position: relative;
  top: -18px;
  left: -1px;
  margin-left: 213px;
}
input:focus {
    outline:none;
}

#myUL a:hover {
  cursor: pointer;
}

#myUL li.selected a {
    background-color: #eee;
}

/* Custom Arrow */
.prev {
  color: #999;
  position: absolute;
  top: 46%;
  left: -1em;
  font-size: 1.5em;
}
.prev:hover {
  cursor: pointer;
  color: black;
}

.next {
  color: #999;
  position: absolute;
  top: 46%;
  right: -1em;
  font-size: 1.5em;
}
.next:hover {
  cursor: pointer;
  color: black;
}

@media screen and (max-width: 800px) {
  .next {
    display: none !important;
  }
}

.container {
  overflow: show;
}


html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

.slider img {
  width: 100%;
  height: auto;
	padding: 5px;
  margin-top: 30%;
}

h2 {
  text-align:center;
	padding-bottom: 1em;
}


.slick-dots {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
}
.slick-dots li {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}
.slick-dots li.slick-active button {
  background-color: black;
}
.slick-dots li button {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: #999;
  border: none;
  width: 15px;
  height: 15px;
}
.slick-dots li:hover {
  color: black;

}

#gallery {
  border: 1px solid #efefef;
  padding: 4px 0 0 0;
}

.image-card {
  display: inline-block;
  width: 214px;
}

#gallery .image-card img {
  border: 1px solid black;
  margin: 8px;
  width: 214px;
  cursor: pointer;
  border-radius: 3px;
}

.overlay-item {
  opacity:0;
  float: left;
  position: relative;
  top: -150px;
  margin-left: 40px;
}

#gallery .image-card img:hover {
  margin: 8px;
  opacity: .2;
}
#gallery .image-card:hover img{
  margin: 8px;
  opacity: .2;
}
#gallery .image-card:hover .overlay-item {

  opacity: 1.0;
}


header h1 {
  font-weight: 700;
  margin-left: 8px;
}

#buttons button {
  border: 1px solid #efefef;
  margin-right: 8px;
  border: 0;
  padding: 8px;
  border-radius: 3px;
}

#buttons button.active {
  background-color: #bbb;
  color: #111;
}

#buttons {
  margin: 8px;
  padding-bottom: 8px;
}

button:hover{
  background-color: #111;
  color: #fff;
}

.apples:hover {

}
.product-card {
  width:200px;
  margin: 5px;
  height: 25px;
}
.bottom-card{
  display: inline-block;
  background-color: gray;
  opacity: 0.5;
  width: auto;
}

.itemheader {
  display: inline-block;
  margin-left: 20px;
  padding-top: 5px;
  }
.priceheader {
  display: inline-block;
  margin-left: 70px;
  padding-top: 5px;
}
